<div class="quill-wrapper">
  <div id="full-editor-<%= @input_id %>" class="editor ql-container"><%= @value %></div>
  <input type='hidden' name='<%= @input_name %>' id='<%= @input_id %>' value=''/>

  <script type='text/javascript'>
    (function() {
      function initQuill() {
        if (typeof Quill != 'undefined'){
          // Initialize editor with custom theme and modules

          function copyToInput() {
            document.getElementById('<%= @input_id %>').value = fullEditor
                                                                  .container
                                                                  .firstChild
                                                                  .innerHTML;
          }


          var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
          ];

          var fullEditor = new Quill('#full-editor-<%= @input_id %>', {
            modules: {
              toolbar: toolbarOptions
            },
            theme: 'snow'
          });

          fullEditor.on('text-change', function(delta, source) {
            copyToInput()
          });
          copyToInput()
        } else {
          setTimeout(initQuill, 50);
        }
      }

      initQuill();
    })()
  </script>
</div>
